.q0-8 { fill:#efb19c ; }
.q1-8 { fill:#f69578; }
.q2-8 { fill:#fb7914; }
.q3-8 { fill:#ee612f; }
.q4-8 { fill:#fd0000; }
.q5-8 { fill:#df0001; }
.q6-8 { fill:#c30002; }
.q7-8 { fill:#a70002; }
.q8-8 { fill:#8b0000; }

#tooltip {
      position: absolute;
      width: 200px;
      height: auto;
      padding: 10px;
      background-color: white;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
      -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
      box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
      pointer-events: none;
    }

@font-face {
    font-family: futura-medium;
    src: url(FuturaStd-Medium.otf);
    /*font-weight: bold;*/
}

html{
  height: 100%;
}
body {
  font-family: Arial;
  margin: 0px;
  height: 100%;
}

.container {
  display: flex;
  justify-content: space-between;
}

.sidebar {
  display: flex;
  flex-direction: column;
}

.sidebar h5 {
  margin-bottom: 0px;
}

#filters {
  background-color: gainsboro;
  border-radius: 25px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;

}
#compare {
  background-color: gainsboro;
  border-radius: 25px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 200px;

}

/*.states :hover {
  opacity: 0.75;
}*/

.states {
  fill:#808080;
}

.state-borders {
  fill: none;
  stroke: #DCDCDC;
  stroke-width: 0.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}

.map svg {
   margin-left: -365px;
}

.map {
     /*margin-left: 50px;*/
     overflow: hidden;
}


#tooltip {
      position: absolute;
      margin-bottom: 50px;
      margin-left: 50px;
      width: 25px;
      height: auto;
      padding: 10px;
      background-color: white;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
      -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
      box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
      pointer-events: none;

    }

#tooltip.hidden {
      display: none;
    }

#tooltip p {
      margin: 0;
      font-family: Futura;
      font-size: 16px;
      line-height: 20px;
    }
.name-text {
    font-size: 12px;
  }




/* Piechart */
.chart {
    position: absolute;
    display: flex;
    
}


.landing-page {

    background-image: url("hurricane_pic.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 100px;
}
.mask {
    background-color: rgba(0,0,0,.2);
    left: 0;
    height: 100%;
    width: 100%;
    top: 0;

}

.vis-container {
  margin: 30px;
  margin-bottom: 50px;
}

h1.vis-title {
  font-size: 45px;
}
h3.vis-title{
  font-size: 25px;
}

.vis-title{
  
  color: #fff;
  font-family: futura-medium;
  float: right;
  width: 100%;
  margin-right: 70px;
  text-align: right;
}

.landing-text {
  font-size: 16px;
  font-family: futura-medium;
  color: #fff;
  margin-left: 70px;
  margin-top: 0px;
}





# THIS is all shit for the slider
.ticks {
    font: 10px sans-serif;
}
    
.track,
.track-inset,
.track-overlay {
  stroke-linecap: round;
}

.track {
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 10px;
}

.track-inset {
  stroke: #ddd;
  stroke-width: 8px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  stroke: transparent;
  cursor: crosshair;
}

.handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
}   

.small-container {
  display: flex;
  justify-content: space-between;
}

.buttons {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  margin-top:52px;
}

#apply_filters {
  margin-bottom: 8px;
}


/* CHECKBOXES */
.ck {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ck input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.ck:hover input ~ .checkmark {
  background-color: #ccc;
}

.ck input:checked ~ .checkmark {
  background-color: #2196F3;
}

.ck input:checked ~ .checkmark:after {
  display: block;
}

.ck .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

.checkboxes {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.column li {
  flex: 1 30px;
  width: 100px;
}

.filter_btn:focus {outline:0;}

.filter_btn:hover {opacity: 0.75}

.filter_btn {
  padding: 12px 18px;
  border: none;
  background: #333;
  color: #f2f2f2;
  text-transform: uppercase;
  letter-spacing: .09em;
  border-radius: 2px;
}